@using TimeDois.Extensoes
@model TimeDois.ViewModel.DetalhesDaParticipacaoViewModel

@using (Html.BeginForm("Avaliar", "Aprovacao", FormMethod.Post))
{
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered has-text-centered">
                    <div class="column is-one-third">
                        <figure class="is-inline-block" style="width: 300px">
                            <img src="@Model.Evento.UrlDaLogo" alt="Image">
                        </figure>
                    </div>
                    <div class="column is-one-third has-text-centered">
                        <div class="is-inline-block has-text-left">
                            <p class="title">
                                @Model.Usuario.Nome
                            </p>
                            <p class="title">
                                @Model.Evento.Nome
                            </p>
                            <p class="subtitle">
                                @Model.Evento.Descricao
                            </p>

                            <div class="columns is-vcentered">
                                <div class="column is-narrow">
                                    <a class="button is-large is-success" onclick="Enviar(true)">
                                        <span class="icon">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </span>
                                        <span>Aprovar</span>
                                    </a>
                                </div>
                                <div class="column is-narrow">
                                    <a class="button is-large is-danger" onclick="Enviar(false)">
                                        <span class="icon">
                                            <i class="fa fa-thumbs-o-down"></i>
                                        </span>
                                        <span>Reprovar</span>
                                    </a>
                                </div>
                                <div class="column is-narrow">
                                    <span class="icon">
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>@Model.NumeroDeInteressados</span>
                                </div>
                                <div class="column is-narrow">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-up"></i>
                                    </span>
                                    <span>@Model.NumeroDeGostei</span>
                                </div>
                                <div class="column is-narrow">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-down"></i>
                                    </span>
                                    <span>@Model.NumeroDeNaoGostei</span>
                                </div>
                            </div>
                            
                            @Html.HiddenFor(x => x.Aprovado)
                            @Html.HiddenFor(x => x.ParticipacaoId)
                        </div>
                    </div>
                    <div class="column is-one-third has-text-centered">
                        <p class="heading">Valor total</p>
                        <p class="title">@Model.Evento.ValorTotal.FormatarMonetarioOuZero()</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container level">
            <div class="level-item has-text-centered">
                <p class="heading">Data</p>
                <p class="title">@Model.Evento.DataInicio.Day/@Model.Evento.DataInicio.EscreverMes().Substring(0, 3) - @Model.Evento.DataFim.Day/@Model.Evento.DataFim.EscreverMes().Substring(0, 3)</p>
            </div>
            <div class="level-item has-text-centered">
                <p class="heading">Local</p>
                <p class="title">@Model.Evento.Cidade - @Model.Evento.Estado</p>
            </div>
            <div class="level-item has-text-centered">
                <p class="heading">Inscrição</p>
                <p class="title">@Model.Evento.ValorDeInscricao.FormatarMonetarioOuZero()</p>
            </div>
            <div class="level-item has-text-centered">
                <p class="heading">Passagem (estimada)</p>
                <p class="title">@Model.Evento.ValorDaPassagem.FormatarMonetarioOuZero()</p>
            </div>
        </div>
    </section>

    <section id="section" class="section container">
        <div class="columns">
            <div class="column">
                <label class="label">Justificativa</label>
                <p class="control">
                    @Html.TextAreaFor(model => model.Justificativa, new { @class = "textarea", @placeholder = "Informe a justificativa da aprovação ou reprovação" })
                </p>
            </div>
        </div>
    </section>
}
<script>
    function Enviar(aprovado) {
        document.forms[0].Aprovado.value = aprovado;
        document.forms[0].submit();
    }
</script>