<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Time2 Digieventos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8"/>
    <link href="@Url.Content("~/Content/css/estilos.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/FontAwesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <main>
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_Footer")
    </main>
</body>
</html>