@using System.Web.UI.WebControls
@model TimeDois.ViewModel.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Time2 Digieventos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8" />
    <link href="@Url.Content("~/Content/css/estilos.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/FontAwesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="card is-inline-block">
                    <div class="card-content">
                        <div>
                            <figure class="image">
                                <img src="@Url.Content("~/Content/quero-ir-logo.svg")" alt="Image" class="is-128">
                            </figure>
                        </div>

                        @using (@Html.BeginForm("Logar", "Login"))
                        {
                            <p class="control has-icon">
                                @Html.TextBoxFor(x => x.Login, new { @class = "input", placeholder = "Usuário" })
                                <i class="fa fa-envelope"></i>
                            </p>

                            <p class="control has-icon">
                                @Html.PasswordFor(x => x.Senha, new { @class = "input", placeholder = "Senha" })
                                <i class="fa fa-lock"></i>
                            </p>
                            <p class="control">
                                <button class="button is-success" type="submit">
                                    Login
                                </button>
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>