@using TimeDois.Extensoes
@model TimeDois.ViewModel.DetalhesDoEventoViewModel

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-narrow">
                    <figure class="image" style="width: 300px">
                        <img src="@Model.UrlDaLogo" alt="Image">
                    </figure>
                </div>
                <div class="column">
                    <p class="title">
                        @Model.Nome
                    </p>
                    <p class="subtitle">
                        @Model.Descricao
                    </p>
                    <a href="@Url.Action("Participar", "Eventos", new {eventoId = @Model.Id})" class="@Model.CssDoBotaoDeInteresse((string) Session["Login"]) button is-large is-primary is-inverted">
                        <span class="icon">
                            <i class="fa fa-star"></i>
                        </span>
                        <span>@Model.TextoDoBotaoDeInteresse((string) Session["Login"])</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container level">
        <div class="level-item has-text-centered">
            <p class="heading">Data</p>
            <p class="title">@Model.DataInicio.FormatarDiaMesAno() - @Model.DataFim.FormatarDiaMesAno()</p>
        </div>
        <div class="level-item has-text-centered">
            <p class="heading">Local</p>
            <p class="title">@Model.Cidade - @Model.Estado</p>
        </div>
        <div class="level-item has-text-centered">
            <p class="heading">Inscrição</p>
            <p class="title">@Model.ValorDeInscricao.FormatarMonetarioOuZero()</p>
        </div>
        <div class="level-item has-text-centered">
            <p class="heading">Diária</p>
            <p class="title">@Model.ValorDaDiaria.FormatarMonetarioOuZero()</p>
        </div>
        <div class="level-item has-text-centered">
            <p class="heading">Inscrição</p>
            <p class="title">@Model.ValorDaPassagem.FormatarMonetarioOuZero()</p>
        </div>
    </div>
</section>

<section id="section" class="section container">
    <div class="columns">
        <div class="column">
            <iframe width="600" height="450" frameborder="0" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=@(Model.Endereco.Replace(" ", "+"))&key=AIzaSyCXK02xR8GjV-34Gp1ou_92YoGZeKxT1eM" allowfullscreen></iframe>
        </div>
        <div class="column">
            <table class="table">
                <thead>
                <tr>
                    <th>Colaboradores interessados no evento</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var participante in Model.Participantes)
                {
                    <tr>
                        <td>

                            <span class="title is-5">
                                    @participante.Usuario.Nome
                                </span>

                        </td>
                        <td class="has-text-right">
                            <span class="tag is-info">@participante.Status.ToDescription(false) </span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section>