@using TimeDois.Extensoes
@model TimeDois.Models.Evento

<article>
    <h1>@Model.Nome</h1>

    <img src="@Model.UrlDaLogo" alt="Logomarca do evento"/>

    <p class="descricao">
        @Model.Descricao
    </p>

    <details>
        <address>@Model.Endereco</address>
        <span class="valor">@Model.ValorDeInscricao.FormatarMonetarioOuZero()</span>
        <time>@Model.DataInicio.FormatarDiaMesAno() - @Model.DataFim.FormatarDiaMesAno()</time>
        <a href="@Model.Link" target="_blank">Página do evento</a>
    </details>

    <footer>
        <p>
            @Html.ActionLink("Eventos", "Participar", "Desejo participar dessa bagaça", new { eventoId = @Model.Nome }, null)
        </p>
    </footer>
</article>


