@using TimeDois.Extensoes
@model TimeDois.Models.Evento

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-narrow">
                    <figure class="image" style="width: 300px">
                        <img src="@Model.UrlDaLogo" alt="Image">
                    </figure>
                </div>
                <div class="column">
                    <p class="title">
                        @Model.Nome
                    </p>
                    <p class="subtitle">
                        @Model.Descricao
                    </p>
                    <a class="button is-large is-primary is-inverted">
                        <span class="icon">
                            <i class="fa fa-star"></i>
                        </span>
                        <span>Tenho interesse</span>
                    </a>
                </div>
                <div class="column is-narrow">
                    <h5 class="title is-5">
                        <strong>Data</strong>
                    </h5>
                    <p class="subtitle">
                        @Model.DataInicio.FormatarDiaMesAno() - @Model.DataFim.FormatarDiaMesAno()
                    </p>
                    <h5 class="title is-5">
                        <strong>Local</strong>
                    </h5>
                    <p class="subtitle">
                        @Model.Cidade - @Model.Estado
                    </p>
                    <h5 class="title is-5">
                        <strong>Preço</strong>
                    </h5>
                    <p class="subtitle">
                        @Model.ValorDeInscricao.FormatarMonetarioOuZero()
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section" class="section container">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=@(Model.Endereco.Replace(" ", "+"))&key=AIzaSyCXK02xR8GjV-34Gp1ou_92YoGZeKxT1eM" allowfullscreen></iframe>
</section>