@using TimeDois.Extensoes
@model TimeDois.ViewModel.ListaDeEventosViewModel
<section id="section" class="section container">
    <div class="container">
        <div class="heading">
            <h1 class="title is-4 has-text-centered"><strong>Próximos eventos</strong></h1>
        </div>

        <ul class="columns-flexible">
            @foreach (var evento in Model.Eventos)
            {
                <li class="column-flexible">
                    <div class="box">
                        <span class="validacao @Model.CssDoStatusDoInteresse((string) Session["Login"], evento.Participantes)"></span>
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="@evento.UrlDaLogo" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="heading">
                                    <h5 class="title is-5"><strong>@evento.Nome</strong></h5>
                                </div>
                                <div>
                                    <span class="icon is-small"><i class="fa fa-calendar"></i></span>
                                    <span>@evento.DataInicio.FormatarDiaMesAno() - @evento.DataFim.FormatarDiaMesAno()</span>
                                </div>
                                <div>
                                    <span class="icon is-small"><i class="fa fa-map-marker"></i></span>
                                    <span>@evento.Cidade - @evento.Estado</span>
                                </div>
                            </div>
                        </article>
                        <footer class="card-footer">
                            <a href="@Url.Action("Detalhes")?eventoId=@evento.Id" class="card-footer-item">Mais detalhes</a>
                        </footer>
                    </div>
                </li>
            }
          
        </ul>
    </div>
</section>

